<script type=text/javascript src="{{url_for('static', filename='js/status-block.js') }}"></script>

<h1> Te controleren/ aan te vullen:</h1>
<table id="statustable">
  <thead>
    <tr>
      <td/><td/>
      <th> Name </th>
      <th> Role </th>
      <th> PPN </th>

    </tr>	
  </thead>
  <tbody>
<!-- This is where authors may be pre-filled and/ or manually added (client-side)-->
</tbody>
<tfoot>  
  <tr><td/><td/><td><input type="button" value="Voeg naam toe" onclick="add_status_row()" /></td></tr></tfoot>
</table>

<script type=text/javascript> 
  var role_options = [];
  {% for role in role_list %}
  role_options.push({
    label: "{{role['legible']}} [{{role['ggc_code']}}]"
  });
  {%endfor%}

  var contributors = [];
  {% for contributor in contributors %}
    contributors.push({
    name: "{{contributor['givenname']}}{{contributor['prefix']}} @{{contributor['familyname']}}"
  });
  {%endfor%}

  var maxIndex =0;

  init();

</script>