
<table id="brinkman-table" style="float: left; padding: 10px" >
  <thead>
    <tr>
      <th><!--i class="fas fa-trash-alt"></i--></th>
      <th><!--i class="fas fa-arrow-up"></i--></th>
      <th><!--i class="fas fa-arrow-down"></i--></th>
      <th class="name_cell"> Brinkman-trefwoorden (KMC 520X) </th>
    </tr>
  </thead>
  <tbody >
    <!-- This is where subjects may be pre-filled and/ or added (client-side)-->
  </tbody>

  <tfoot>
    <tr align="center">
        <td> &nbsp;</td>
        <td> &nbsp;</td>
        <td> &nbsp;</td>
        <td><button type="button" title="Vind vormtrefwoorden" onclick="getSuggestions('ensemble-brinkman-vorm','brinkman','vorm')">Suggesties vormtrefwoorden</button>
    </tr>
    <tr align="center">
      <td> &nbsp;</td>
      <td> &nbsp;</td>
      <td> &nbsp;</td>
      <td><button type="button" title="Vind zaaktrefwoorden" onclick="getSuggestions('ensemble-brinkman-zaak','brinkman','zaak')">Suggesties zaaktrefwoorden</button>
    </tr>
  </tfoot>
</table>

<table id="CBK_genre-table" style="float: left; padding: 10px" >
  <thead>
    <tr>
      <th><!--i class="fas fa-trash-alt"></i--></th>
      <th><!--i class="fas fa-arrow-up"></i--></th>
      <th><!--i class="fas fa-arrow-down"></i--></th>
      <th class="name_cell"> CBK-genres (KMC 556X) </th>
    </tr>
  </thead>
  <tbody >
    <!-- This is where subjects may be pre-filled and/ or added (client-side)-->
  </tbody>

  <tfoot>
    <tr align="center">
      <td> &nbsp;</td>
      <td> &nbsp;</td>
      <td> &nbsp;</td>
      <td><button type="button" id="suggestCBKGenre" title="Vind trefwoorden" onclick="getSuggestions('ensemble-cbk2','CBK_genre','vorm')">Suggesties</button>
    </tr>
  </tfoot>
</table>

<br style="clear:both" />

<!-- Annif Suggestions - bottom area. -->
<div class="bottomcontent" id="subject_content" >
  <div id="annif-out" style="float: left; width: 40%">
    <h2 id="suggestions" data-i18n="suggestions" >Trefwoordsuggesties</h2>
    <table class="fixed_header" id="annif-results-table" >
      <thead>
        <tr>
          <th>Trefwoord</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody class="zebra"/>
      <tfoot/>
    </table>
  </div>
  <div style="float: left; width: 35% margin-left:10px;" >
  <h2 >  Powered by</h2>
    <div  class="info" >

      <img id="annif-logo" src={{'/static/annif-RGB.svg'}} alt="annif-logo" width="130px">
      <span class="extra-info">
        Annif is de tool die suggesties doet voor trefwoorden. De modellen zijn getraind op basis van GGC-metadata.<br>
        Suggesties worden gegenereerd op basis van de publicatietitel en samenvatting (tab <a href="#" onclick="openTab(event, 'general-tab')">Titelinformatie</a>).
      </span>
    </div>
  </div>
</div>
<script type=text/javascript src="{{url_for('static', filename='js/subjects-tab.js') }}"></script>