{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{author['foaf_name']}}{% endblock %}</h1>
{% endblock %}

{% block content %}
 <table width="100%">
<tr> <td>PPN: </td><td>{{author['ppn']}}</td></tr>
<!--<tr> <td>VIAF: </td><td>{{author['ppn']}}</td></tr>-->
<tr> <td>Leefjaren: </td><td>{{author['birthyear'] or ''}}-{{author['deathyear'] or ''}}</td></tr>
<tr> <td>Editorial Note(s):</td><td> {{author['editorial'] or ''}}  {{author['editorial_nl'] or ''}}</td></tr>

<tr> <td>VIAF record:</td><td><a class="action" href="http://viaf.org/viaf/{{author['viaf']}}" target="_blank">{{author['viaf']}}</a> </td></tr>

<tr> <td>ISNI record:</td><td><a class="action" href="http://isni.org/isni/{{author['isni']}}" target="_blank">{{author['isni'] or ''}}</a> </td></tr>

<tr> <td>Wikipedia:</td><td><a class="action" href="{{author['wiki']}}" target="_blank">{{author['wiki'] or ''}}</a> </td></tr>

<tr> <td>Zoek op Google:</td><td> <a class="action" href="https://google.com/?q={{author['foaf_name']}}" target="_blank">Zoek </a></td></tr>

</table>

 <h1>Relevante publicaties:</h1>
 <hr/>

 <table>
     {% for publication in publications %}
        <tr>
            <td> {{publication['title']}} </td>
        </tr>   
     {% endfor %}

 </table>


 
{% endblock %}