<table id="contributortable" >
      <thead>
      <tr>
        <th><!--i class="fas fa-trash-alt"></i--></th>
        <th><!--i class="fas fa-arrow-up"></i--></th>
        <th><!--i class="fas fa-arrow-down"></i--></th>
        <th class="name_cell"> Naam </th>
        <th class="name_cell"> Rol </th>
        <th class="name_cell"> PPN </th>
      </tr>
      </thead>
      <tbody style="max-height: 120px"/>
      <!-- This is where contributors may be pre-filled and/ or manually added (client-side)-->
      <tfoot>
      <tr align="right">
        <td><input type="button" title="Voeg naam toe" value="&#xf234" class="fas fa-user-plus" onclick="add_contributor_row()" /></td>
      </tr>
      </tfoot>
    </table>

<div style="width:100%;float:left;">

<div class='bottomcontent' id="contributors_content" style="display: block;">
    <h2 id=thesaureer_title></h2>
    <div id='thesaureer_content'></div>
    <table id="candidate_list" class="fixed_header zebra" style.visibility = "hidden">
      <thead>
        <tr>
            <th/>
            <th>PPN</th>
            <th>Naam</th>
            <th>ISNI</th>
            <th>Notitie</th>
            <th>Leefjaren</th>
            <th>Match</th>
        </tr>
      </thead>
        <tbody class="zebra"/>
    </table>
  </div>
</div>

