<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">



<h1>NTA-records voor {{author_name}} </h1>

{% if author_options|length <1 %}
<div>No matches</div>
{% else %}
<table >
    <thead >
        <tr><td/><td/><td/><td>Scores</td></tr>
	   <tr> <td> PPN </td><td> Name </td> <td> Leefjaren </td><td> Name </td></tr>
    </thead>
    <tbody class="TFtable">
	{% for author_option in author_options %}
    <tr> <td><a class="action"  href="#"
        onClick="MyWindow=window.open('{{ url_for('contributor.authorpage', id=author_option['ppn'])}}','MyWindow','width=700,height=400'); return false;">{{author_option['ppn']}} </a> </td>
	<td> {{author_option['foaf_name']}} </td>
    <td>{{author_option['birthyear']}}-{{author_option['deathyear']}}</td>
    <td class="score" value="{{author_option['name_score']}}"> {{author_option['name_score']|round|int}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% endif %}
