<!doctype html>


<!-- Load JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    if (!window.jQuery) document.write('<script src="{{url_for('static', filename='js/jquery-3.6.0.min.js') }}"><\/script>');
</script>

<!-- Load JQuery UI -->
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<script>
    if (!window.jQuery.ui) document.write('<script src="{{url_for('static', filename='js/jquery-ui-1.13.0.min.js') }}"><\/script>');
</script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    if (!window.jQuery.fn.dataTable) document.write('<script src="{{url_for('static', filename='js/jquery-dataTables-1.11.3.min.js') }}"><\/script>');
</script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>

<!-- Load fontawesome (??) and set $SCRIPT_ROOT (??) -->
<script src="https://kit.fontawesome.com/abcca5fd9b.js" crossorigin="anonymous"></script>
<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script type=text/javascript src="{{url_for('static', filename='js/my_functions.js') }}"></script>


{{ JSGlue.include() }}

<title>{% block title %}{% endblock %}</title>

<section class="content">
  <header>  {% block header %}{% endblock %} </header>
  {% block content %}{% endblock %}
</section>
