{% extends 'base.html' %}



{% block header %}
  <h1>{% block title %}Publications{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for publication in publications %}
      <header>
        <div>
          <h1>{{ publication['hoofdTitel_title'] }}</h1>
          <div class="about"> Lijstje van auteurs </div>
        </div>
          <a class="action" href="{{ url_for('publication.view', id=publication['isbn']) }}">Thesaureer</a>
          
      </header>
  {% endfor %}
{% endblock %}