{% extends 'base.html' %}



{% block header %}
  <h1>{% block title %}Publications{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for publication in publications %}
      <header>
        <div>
          <h1>{{ publication['titelvermelding']}} (PPN: {{publication['publication_ppn']  }})</h1>
          <div class="about"> {{ publication['verantwoordelijkheidsvermelding'] }} </div>
        </div>
          <a class="action" href="{{ url_for('publication.view', id=publication['publication_ppn']) }}">Thesaureer</a>
          
      </header>
  {% endfor %}
{% endblock %}