
{% extends 'base.html' %}

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<!-- Title of publicationor "Demosaurus" as Header -->
{% block header %}
<h1>{% block title %}Demosaurus - {{ publication['titelvermelding'].replace('@','',1)}}{% endblock %}</h1>
{% endblock %}

{% block content %}

<!-- The following script instantiates js variables holding genre info etc > still necessary? -->
  <script type=text/javascript>
      var pilotMode = true;

    // initialize vars holding the role options and contributors
    console.log('Initializing variables')
    var role_options = [];
    {% for role in role_list %}
    role_options.push({
        label: "{{role['legible']}} [{{role['ggc_code']}}]"
    });
    {%endfor%}

    var contributors = [];
    {% for contributor in contributors %}
    contributors.push({
        name: "{{contributor['title'] if contributor['title']}}{{contributor['name']}}",
        role: "{{contributor['role']  if contributor['role']}}"
    });
    {%endfor%}

    var maxIndex = 0;

    var genres = {'CBK_genre':[], 'NUR_rubriek':[], 'NUGI_genre':[], 'brinkman':[]};
    var subjects = {'CBK_thema':[], 'brinkman':[]};
    {% for subject in subjects %}
      {% if subject['CBK_genre'] %}
        genres['CBK_genre'].push({
          rank: "{{subject['rank']}}",
          identifier: "{{subject['CBK_genre_id']}}",
          term: "{{subject['CBK_genre']}}"
        });
      {% endif %}
      {% if subject['CBK_thema'] %}
        subjects['CBK_thema'].push({
          rank: "{{subject['rank']}}",
          term: "{{subject['CBK_thema']}}"
        });
      {% endif %}
      {% if subject['brinkman_kind'] == 'vorm' %}
          genres['brinkman'].push({
            rank: "{{subject['rank']}}",
            identifier: "{{subject['brinkman_id']}}",
            term: "{{subject['brinkman']}}"
          });
      {% endif %}
      {% if subject['brinkman_kind'] == 'zaak' %}
          subjects['brinkman'].push({
            rank: "{{subject['rank']}}",
            identifier: "{{subject['brinkman_id']}}",
            term: "{{subject['brinkman']}}"
          });
      {% endif %}
      {% if subject['NUGI_genre'] %}
        genres['NUGI_genre'].push({
          rank: "{{subject['rank']}}",
          identifier: "{{subject['NUGI_genre']}}"
        });
      {% endif %}
      {% if subject['NUR_rubriek'] %}
        genres['NUR_rubriek'].push({
          rank: "{{subject['rank']}}",
          identifier: "{{subject['NUR_rubriek']}}"
        });
      {% endif %}
    {% endfor %}
    // console.log('Genres', genres);
    // console.log('subjects', subjects);

  </script>

{# Status tabs #}
<div>
  <!-- Horizontal Arrow style menu. -->
  <div class="tab">
    <ul class="breadcrumb">
      <li><a href="#" onclick="openTab(event, 'general_tab')" class="tablinks" id="general_tab">Titelinformatie<span class="flag" id="general_tab_flag">&#10071;</span></a></li>
      <li><a href="#" onclick="openTab(event, 'subjects_tab')" class="tablinks" id="subjects_tab">Onderwerp<span class="flag" id="subjects_tab_flag">&#10071;</span></a></li>
      <li><a href="#" onclick="openTab(event, 'contributors_tab')" class="tablinks" id="contributors_tab">Auteurs<span class="flag" id="contributors_tab_flag">&#10071;</span></a></li>
      <li><a href="#" onclick="openTab(event, 'export_tab'); export_info()" class="tablinks" id="export_tab">Exporteer<span class="flag" id="export_tab_flag">&#10071;</span></a></li>
    </ul>
  </div>

{# Tab content for status tabs #}

  <div id="general_tab_content" class="tabcontent">
    {% include 'publication/general-tab.html' %}
  </div>

  <div id="subjects_tab_content" class="tabcontent">
    {% include 'publication/subjects-tab.html' %}
  </div>

  <div id="contributors_tab_content" class="tabcontent">
    {% include 'publication/contributors-tab.html' %}
  </div>

  <div id="export_tab_content" class="tabcontent">
    {% include 'publication/export-tab.html' %}
  </div>
</div>

<script type=text/javascript src="{{url_for('static', filename='js/contributors-tab.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/export-tab.js') }}"></script>


<script type=text/javascript>
document.getElementById("general_tab").click();

</script>
{% endblock %}
