{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{publication['hoofdTitel_title']}}{% endblock %}</h1>
{% endblock %}

{% block content %}
 
 <div class="column">
     <img src={{'/static/'+publication['cover_front']}} alt="Front cover" width="200">
  </div>

  <div class="column">
  	<table style="width:100%">
  <tr>
  	<td>ISBN</td>
  	<td>{{ publication['isbn']}} </td>
  	</tr>

  <tr>
  	<td>First contributor</td>
  	<td>{{ publication['contributor_1_displayname']}} </td>
  	</tr>
  	
  	{% for contributor in contributors %}
	<tr>
  	<td>Contributor</td>
  	
  	<td><a class="action" href="{{ url_for('publication.view', id=publication['isbn']) }}"> {{ publication['contributor_1_displayname']}} </a></td>
  	  	<td>{{ publication['contributor_1_role']}} </td>
  	</tr>
  		
  	{% endfor %}

</table>
  	  </div>

  	  <div class="column"> 

  	  	<h1>{{publication['hoofdTitel_title']}}</h1>
  	  </div>


{% endblock %}