
html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 1500px; margin: 0 auto; background: white; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
table {padding: 1;}
td, th {vertical-align:top;}
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
section {clear: both;}
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content textarea { min-height: 12em; resize: vertical; }
.zebra tr:nth-child(odd){background: #b8d1f3;}
.zebra tr:nth-child(even){background: #dae5f4;}
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; padding: 0;}
input[type=button] {padding: 0; background: #377ba8; color: white;}

.fixed_header tbody{
  display:block;
  padding:2px;
  overflow:auto;
  height:50px;
  width:100%;
}

.fixed_header thead tr{
  display:block;
}

.fixed_header thead th{
  vertical-align:bottom;
  text-align:right;
}


.ppn_cell {width:100px; overflow: hidden; text-overflow: ellipsis;}
.name_cell {width:200px; overflow: hidden; text-overflow: ellipsis;}
.years_cell {width:80px; overflow: hidden; text-overflow: ellipsis;}
td.score_cell {width:30px; overflow: hidden; text-overflow: ellipsis; horizontal-align:right}
th.score_cell {width:30px; height:50px; white-space: nowrap; vertical-align:bottom;}

th.score_cell > div {
  transform: translate(-5px, -5px) rotate(315deg);
  width: 30px;
}
